@charset "UTF-8";

@font-face {
  font-family: "Tinos";
  font-weight: 400;
  font-style: normal;
  src: url('/font/tinos/Tinos-Regular.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}
@font-face {
  font-family: "Tinos";
  font-weight: 400;
  font-style: italic;
  src: url('/font/tinos/Tinos-Italic.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}
@font-face {
  font-family: "Tinos";
  font-weight: 400;
  font-style: bold;
  src: url('/font/tinos/Tinos-Bold.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  src: url('/font/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: italic;
  src: url('/font/roboto-mono/RobotoMono-Italic.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: bold;
  src: url('/font/roboto-mono/RobotoMono-Bold.ttf') format('truetype');
  unicode-range: U+0020-007E, U+00A0-00FF, U+2010, U+2013-2014, U+2018-2019, U+201C-201D, U+2212;
  font-display: swap;
}

:root {
  --KVLR-sidenotes-max-width: 550px;
  --KVLR-body-text-font-size: 1rem;

  --KVLR-body-text-color: #000;

  --KVLR-body-link-hover-color: #888;
  --KVLR-pre-element-background-color: #fafafa;
  --KVLR-pre-element-border-color: #c8c8c8;
  --KVLR-code-element-background-color: #fafafa;
  --KVLR-code-element-border-color: #c8c8c8;
  --KVLR-table-cell-vertical-border-color: var(--KVLR-body-background-color);
  --KVLR-table-row-horizontal-border-color: #000;
  --KVLR-table-caption-border-color: #000;
  --KVLR-table-full-width-background-color: var(--KVLR-body-background-color);
  --KVLR-table-border-color: #000;
  --KVLR-sidenote-self-link-border-color: #aaa;
  --KVLR-sidenote-border-color: #aaa;
  --KVLR-sidenote-highlight-box-shadow-color: #aaa;
  --KVLR-sidenote-highlight-background-color: var(--KVLR-body-background-color);
  --KVLR-object-popup-background-color: #fff;
  --KVLR-body-background-color: #fff;
  --KVLR-H2-bottom-border-color: #888;

  --KVLR-tinos-font-stack: "Tinos";
  --KVLR-roboto-font-stack: "Roboto Mono";
}

/* General */
html {
  padding: 0;
  margin: 0;
  background-color: var(--KVLR-body-background-color);
  color: var(--KVLR-body-text-color);
  font-size: 20px;
  font-weight: 400;
  font-family: var(--KVLR-tinos-font-family)
}

/* Article */
body {
  max-width: 1120px;
  font-size: var(--KVLR-body-text-font-size);
}

svg {
  fill: currentColor;
}


/* Size */

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

/* Navigations */
#sidebar {
  font-family: var(--KVLR-tinos-font-stack);
  font-variant: bold;
  float: left;
  text-align: left;
  margin: -1.0em 0 0em -9.0em;
  background-color: rgb(204, 204, 204);
  border: 0.2rem dotted #000;
}
#sidebar a {
  display: block;
}

@media only screen and (min-width: 650px) {
  #sidebar {
    padding: 0 20px 20px 20px;
    width: 100px;
  }
  #sidebar a#logo {
    margin: 1em 0 2em 0;
  }
  #sidebar a#logo svg {
    width: 64px;
  }
  #sidebar a.link,
  #sidebar a.link {
    color: black;
    text-decoration: none;
    padding-top: 0.45em;
    margin-top: 0.55em;
  }
}

#sidebar a:hover {
  color: var(--KVLR-body-link-hover-color);
}

#homenav {
  float: left;
  width: 100px;
  height: 110px;
  vertical-align: middle;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Footer */
footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}


/* Logo */
.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}


/* Headings */
header {
  overflow: auto;
  border-bottom: 0.2rem solid #000;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

header h1 {
  margin: 0.75em 0;
  text-align: center;
  vertical-align: middle;
  text-transform: none;
  font-variant: small-caps;
  font-size: 2.5em;
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.25em 0 0.5em 0;
}

h1 em:last-child {
  padding-right: 0.075em;
}

h2 {
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 0 0.5em 2px 0;
    line-height: 1.25;
}

h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 1px dotted var(--KVLR-H2-bottom-border-color);
  left: 0;
  bottom: 0.05em;
  pointer-events: none;
}

h3 {
  text-transform: capitalize;
  font-size: 1.125em;
}
h4 {
  text-transform: capitalize;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}


/* Sidenotes */
#sidenote-column-left,
#sidenote-column-right {
  position: absolute;
  max-width: var(--KVLR-sidenotes-max-width);
  font-size: 0.85em;
  z-index: 1;
  pointer-events: none;
}
#sidenote-column-left > *,
#sidenote-column-right > * {
  pointer-events:  auto;
}
#sidenote-column-left {
  height: calc(100% - 10rem);
  width: calc(50vw - (50% + 92px));
  top: 10rem;
  right: calc(100% + 64px);
}
#sidenote-column-right {
  height: 100%;
  width: calc(50vw - (50% + 104px));
  top: 0;
  left: calc(100% + 60px);
}

.sidenote {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.85;
  line-height: 1.5;
  padding: 2em 0 0 0;
}
.sidenote.hidden {
  display: none;
}
.sidenote.highlighted,
.sidenote:hover,
.sidenote:target,
.sidenote.targeted {
  background-color: var(--KVLR-sidenote-highlight-background-color);
  opacity: 1.0;
}
.sidenot:target {
  z-index: 2;
}

.sidenote::after {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -13px;
  left: -13px;
}
.sidenote.highlighted::after,
.sidenote:hover::after,
.sidenote:target::after,
.sidenote.targeted::after {
    border: 3px double var(--KVLR-sidenote-highlight-box-shadow-color);
}


/* Sidnote Wrappers */
.sidenote-outer-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-style: dotted;
  border-color: var(--KVLR-sidenote-border-color);
  border-width: 1px 0;
}
.sidenote.cut-off .sidenote-outer-wrapper {
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  padding: 0 1px 0 0;
  padding-right: 0.5em;
}
.sidenote-inner-wrapper {
  position: relative;
  margin: 0.5em 0;
}
.sidenote-inner-wrapper > * {
  position: relative;
  z-index: 1;
}


/* Sidenote Corrections */
.sidenote blockquote {
  margin: 1.5em 0 0.75em 0;
}
.sidenote pre {
  margin: 1.75em 0 0.75em 0;
}
.sidenote blockquote + *,
.sidenote pre + * {
  margin-top: 1.75em;
}

.sidenote p + p {
  text-indent: 1em;
}

#markdownBody .sidenote ul,
#markdownBody .sidenote ol {
  padding: 0 0 0 1.75em;
}

#markdownBody .sidenote li {
  text-align: left;
}


/* Sidenote Self-Links */
.sidenote > .sidenote-self-link {
  font-weight: 600;
  position: absolute;
  top: 0;
  border-style: dotted;
  border-color: var(--KVLR-sidenote-self-link-border-color);
  border-width: 1px 1px 0px 1px;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.markdownBody .sidenote > .sidenote-self-link {
  background-image: none;
}
#sidenote-column-left .sidenote > .sidenote-self-link {
  right: 0;
}
#sidenote-column-right .sidenote > .sidenote-self-link {
  left: 0;
}
.sidenote .footnote-self-link {
  display: none;
}

/* Sidenote Screens */
@media only screen and (max-width: 1760px) {
  #sidenote-column-left,
  #sidenote-column-right {
      display: none;
  }
}

@media only screen and (min-width: 1761px) {
  .marginnote {
      display: none;
  }
}

/* Margin Notes */
.marginnote {
  font-style: italic;
  color: var(--GW-body-text-color);
  font-family: var(--KVLR-tinos-font-stack);
}
.marginnote.inline {
  color: inherit;
}
.marginnote.sidenote {
  display: initial;
  width: calc(50vw - (50% + 104px));
    max-width: var(--KVLR-sidenotes-max-width);
    left: calc(100% + 60px);

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-size: calc(var(--KVLR-body-text-font-size) * 0.85);
    text-align: left;
    text-indent: 0;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    opacity: 0.85;
    z-index: 1;
}
.marginnote.sidenote:hover {
  box-shadow: none;
}
.sidenote.marginnote::after {
  z-index: -1;
}


/* Tables */
h1 + .table-wrapper,
h2 + .table-wrapper,
h3 + .table-wrapper,
h4 + .table-wrapper,
h5 + .table-wrapper,
h6 + .table-wrapper {
    margin: 0 0 2.125em 0;
}

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75em;
  border-style: solid;
  border-color: var(--KVLR-table-border-color);
  border-width: 2px 0;
}

.table-wrapper.full-width .full-width-table-inner-wrapper {
  background-color: var(--KVLR-table-full-width-background-color);
}
blockquote .table-wrapper.full-width {
  background-color: transparent;
}

table caption {
  padding: 0.25em 0.75em;
  font-style: italic;
  font-size: 1.25em;
  border-top: 2px solid var(--KVLR-table-caption-border-color);
}

table th,
table td {
    padding: 7px 10px;
    line-height: 1.35;
}
table th {
  font-weight: bold;
  border-bottom: 1px solid var(--KVLR-table-row-horizontal-border-color);
  text-align: left;
  hyphens: none;
}
table td {
  vertical-align: top;
}
table th + th,
table td + td {
  border-left: 1px solid var(--KVLR-table-cell-vertical-border-color);
}

table td > code {
  word-break: normal;
}


/* Code Blocks */
.uri,
code {
  --KVLR-link-underline-background-color: var(--KVLR-code-element-background-color)

  border: 1px solid var(--KVLR-code-element-border-color);
  background-color: var(--KVLR-code-element-background-color);

  padding: 0 4px;

  font-family: var(--KVLR-roboto-font-stack);

  font-feature-settings: 'ss02', 'ss03';

  font-size: 0.9em;
  word-break: break-all;
  hyphens: none;
}
pre {
  margin: 1.75em auto;
  border: 1px solid var(--KVLR-pre-element-border-color);
  background-color: var(--KVLR-pre-element-background-color);
  cursor: text;
  max-height: calc(100vh - 8em);
}
pre code {
  display: block;
  padding: 0.4rem 0.7rem;
  margin: 0;
  border: none;
  background-color: transparent;
}


/* Multi-Columns */
.columns > ul,
.columns > ol {
  column-width: 15em;
  column-gap: 3em;
  margin-bottom: 2em;
}
.markdownBody .columns li,
.markdownBody .columns li p {
  text-align: left;
  break-inside: avoid;
}

.columns > ul figure {
  margin: 0 0 1.5em 0;
}


/* Metadata */
#page-metadata hr {
  display: none;
}
#page-metadata {
  margin: 0 0 2rem 0;
  overflow: auto;
  font-size: 0.95em;
  line-height: 1.5;
}
#page-metadata p {
  text-align: left;
}

#page-metadata #page-description {
  display: block;
  margin: 0 auto 0.75em auto;
  font-style: italic;
  text-align: justify;
}
#page-metadata #page-description em {
  font-style: normal;
}

#page-metadata #page-description ~ * {
  font-size: 0.9em;
}

#page-metadata #page-description + br {
  display: none;
}

#page-metadata-block span:nth-of-type(n+3) {
  white-space: nowrap;
}

#page-tags,
#page-metadata-block {
    hyphens: none;
}


/* Main Content */
.markdownBody {
  overflow-wrap: break-word;
}

@media only screen and (min-width: 1761px) {
  #markdownBody {
      position: relative;
  }
}

@media only screen and (min-width: 650px) {
  @media only screen and (max-width: 1000px) {
      .markdownBody {
          line-height: 1.50;
      }
  }
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {
      .markdownBody {
          line-height: 1.55;
      }
  }
  @media only screen and (min-width: 1201px) {
      .markdownBody {
          line-height: 1.60;
      }
  }
}

h1 {
  margin: 0.6em 0 0.5em -0.75rem;
  font-weight: bold;
  position: relative;
}


/* Misc */
body.index #markdownBody section > h1:first-child a::after {
  display: none;
}

@media only screen and (max-width: 1184px) {
  body.index #back-to-top {
      left: 4rem;
  }
}
@media only screen and (min-width: 1185px) {
  body.index #back-to-top {
      left: calc(120px + (100% - 1185px)/2);
  }
}
@media only screen and (min-width: 1761px) {
  body.index #back-to-top {
      left: calc(80px + (100% - 1185px)/2);
  }
}
@media only screen and (max-width: 649px) {
  body.index #back-to-top {
      left: unset;
  }
}
