<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kvelíere - $title$</title>
        <script src="/js/setup.js"></script>
        <script src="/js/footnotes.js"></script>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="sidebar">
            <a id="logo" href="/" title="Home">
                <img src="/images/kvele.svg" width="100" height="110" alt="Kvelíere Logo">
            </a>
            <div id="sidebar-links">
                <a class="link" href="/about" title="Who am I?">ABOUT</a>
                <a class="link" href="/contact" title="How can you contact me?">CONTACT</a>
            </div>
        </div>

        <!-- <header>
            <div class="logo">
                <a href="/"><img id="homenav" src="/images/kvele.svg" style="display:inline-block" target="_blank"></a>
                <a href="/">Kvelíere</a>
            </div>
        </header> -->

        <main role="main">
            <h1>$title$</h1>
            <div id="markdownBody">
                $body$
            </div>
        </main>

        <footer>
            © 2022 Collin brown
        </footer>
    </body>
</html>
