<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kvelíere - $title$</title>
        <script src="/js/setup.js"></script>
        <script src="/js/footnotes.js"></script>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="sidebar">
            <a id="logo" href="/" title="Home">
                <img src="/images/kvele.svg" width="100" height="110" alt="Kvelíere Logo">
            </a>
            <div id="sidebar-links">
                <a class="link" href="/about.html" title="Who am I?">ABOUT</a>
                <a class="link" href="/contact.html" title="How can you contact me?">CONTACT</a>
                <a class="link" href="/the-little-brown-book.html" title="Where are my essays?">THE LITTLE BROWN BOOK</a>
            </div>
        </div>
        $if(thought)$
        <div id="thoughtbar">
            <div id="thoughtbar-title">
                Thought Cabinet
            </div>
            <div id="thought">
                $if(thought)$
                    $thought$
                $endif$
            </div>
        </div>
        $endif$
        <main role="main">
            <div id="title">$title$</div>
            <div id="description">
                $if(description)$
                    $description$
                $endif$
            </div>
            <div id="details">
                $if(dates)$
                    Posted on $date$
                $endif$
                <br>
                $if(author)$
                    By $author$
                $endif$
                <br>
                $if(tags)$
                    Tags: $tags$
                $endif$
            </div>
            $if(logo)$
            <img src=$logo$ id="pagelogo" style="width:8%">
            $endif$
            <div id="markdownBody">
                $body$
            </div>
        </main>

        <footer>
            © 2022 Collin Brown
        </footer>
    </body>
</html>
