<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kvelíere - $title$</title>
        <script src="/js/setup.js"></script>
        <script src="/js/footnotes.js"></script>
        <link rel="stylesheet" href="/css/default.css" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-255PS393VY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-255PS393VY');
        </script>
        $if(words)$
        <script>
            window.onload = function(){
                var wc = parseInt($words$);
                var time = Math.round(wc / 225);
                document.getElementById('output').innerHTML = "Estimated Read Time: " + time + " minutes.";
            }
        </script>
        $endif$
    </head>
    <body>
        $if(thought)$
        <div id="thoughtbar">
            <div id="thoughtbar-title">
                Thought Cabinet
            </div>
            <div id="thought">
                $if(thought)$
                    $thought$
                $endif$
            </div>
        </div>
        $endif$
        <main role="main">
            <div id="title">$title$</div>
            $if(subtitle)$
            <div id="subtitle">$subtitle$</div>
            $endif$
            <div id="sidebarouter">
                <div id="sidebar">
                    <a id="logo" href="/" title="Home">
                        <img src="/images/kvele.svg" alt="Kvelíere Logo">
                    </a>
                    <div id="sidebar-links">
                        <a class="link" href="/about.html" title="Who am I?">ABOUT</a>
                        <a class="link" href="/contact.html" title="How can you contact me?">CONTACT</a>
                        <a class="link" href="https://www.patreon.com/collinbrown" title="How can you support me?">PATREON</a>
                    </div>
                </div>
            </div>
            $if(details)$
            <div id="repo">
                $if(repo)$
                    <div class="github-card" data-github=$repo$ data-width="400" data-height="" data-theme="default"></div>
                    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
                    <br>
                $endif$
            </div>
            <div id="description">
                $if(description)$
                    $description$
                $endif$
            </div>
            <div id="details">
                $if(dates)$
                    Posted on $date$
                $endif$
                <br>
                $if(author)$
                    By $author$
                $endif$
                <br>
                $if(words)$
                    Word Count: $words$ words.
                    <div id ="output"></div>
                $endif$
                $if(tags)$
                    Tags: $tags$
                $endif$
            </div>
            $endif$
            $if(logo)$
            <img src=$logo$ id="pagelogo" style="width:8%">
            $endif$
            <div id="markdownBody">
                <p id="intro">
                    $body$
                </p>
            </div>
        </main>

        <footer>
            © 2022 Collin Brown
        </footer>
    </body>
</html>
